<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="C:\ProgramData\SoftIdeas\Performance API (Internal).log" >

  <variable name="logDirectory" value="${specialfolder:folder=CommonApplicationData}\SoftIdeas"/>
  <variable name="TraceDirectory" value="${specialfolder:folder=CommonApplicationData}\SoftIdeas\Trace"/>
  <variable name="logFileName" value="Performance API.log"/>
  <variable name="AppName" value="SoftIdeas"/>

  <targets>
    <target name="file"  xsi:type="File"
             archiveFileName="${logDirectory}/Performance API/archives/${shortdate}-{###}.log"
             archiveAboveSize="10485760"
             archiveEvery="Day"
             archiveNumbering="Sequence"
             keepFileOpen="false"
             concurrentWrites="true"
             fileName="${logDirectory}/${logFileName}" layout="${longdate} | ${machinename} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"/>
    <target name="eventLog"   xsi:type="EventLog"   layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" machineName="." source="${AppName}" log="${AppName}" />
  </targets>
  <rules>

    <logger name="*" minlevel="Info"  writeTo="eventLog" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>

</nlog>